img {
    width: 300px;
    height: 300px;
}

h1 {
    font-size: xx-large;
    font-variant: small-caps;
}

p {
    font-size: small;
    }

body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:bisque;
    color: black;
}